:root {
    --appTitle: 'The Ark Bible';
    --bookWidth: 'max-content';
    --mediumGray: #c3c1c1;
    --headlineBackground: #8e8c8c;
    --blackText: black;
    --whiteText: white;
    --bannerBackground: #022a69;
    --bodyBackground: #f3f3f3;
    --headerBackground: #c02b31;
    --headlineColor: white;
    --mainBackground: white;
    --verseNumber: #0505da;
    --shadowColor: #07070733;

    --lightGreenEmphasis: #07f007;
    --lightGrayEmphasis: #757575;
    --greenEmphasis: #045004;
    --lightMaroonEmphasis: #ba0e0e;
    --lighterMaroonEmphasis: #f10e0e;
    --paleMaroonEmphasis: #f85e5e;
    --maroonEmphasis: #530306;
    --navyEmphasis: navy;

    --gradientLight: #0064d9;
    --gradientDark: #11428c;

}

html { font-size: 110%; }
html,
body { margin: 0; padding: 0; width: 100%; height: 100%; overflow: hidden; overflow-y: scroll; }
body { background-color: var(--bodyBackground); color: var(--blackText); z-index: 10; }

p { font-size: 1.06rem; }

.cs-hide { display: none; }

.cs-header1 { position: fixed; top: 0; left: 0; width: 100%; height: 6%; background-color: var(--bannerBackground); color: var(--whiteText); padding: 0; padding-left: 2em; overflow: hidden; z-index: 1; user-select: none; border-bottom: 5px solid dimgray; }
.cs-headerTitle { margin:0; position: absolute; font-size: 1.3rem; top: 5%; }
.cs-search { display: flex; justify-content: center; align-items: center; position: absolute; right: 10%; top: 50%; transform: translateY(-50%); height: 1.8rem; width: 1.8rem; font-size: 1.8em; }
.cs-magnifier { cursor: pointer; rotate: -45deg; padding: .5em; margin-top: -.4em; }

.cs-menu { position: absolute; left: 0; bottom: 1em; display: flex; width: 100%; height: 25%; z-index: 1; }
.cs-menu1 { position: absolute; left: 50%; transform: translate(-50%); }
.cs-menuBtn { text-decoration: none; border: none; outline: none; font-size: 1.1rem; background-color: var(--bannerBackground); color: var(--whiteText); padding: 0; }
.cs-menuBtn1,
.cs-menuBtn2,
.cs-menuBtn3 { padding-right: 2em;  }

.cs-bookHeader,
.cs-verseHeader,
.cs-versionHeader,
.cs-chapterHeader,
.cs-nonEnglishHeader,
.cs-strongsHeader { position: sticky; top: 0; padding: .35em; padding-left: .8em; font-size: 1.3em; font-weight: 550; background-color: var(--headerBackground); color: var(--whiteText); user-select: none; width: 100%; z-index: 1; }

.cs-strongsHeader,
.cs-nonEnglishHeader {position: relative };

.cs-sortHeader { position: absolute; left: 50%; transform: translate(-50%); padding: .23em; font-size: .56em; font-weight: 500; background-color: var(--whiteText); color: var(--bannerBackground); border-radius: 5px; width: max-content; }

.cs-books,
.cs-verses,
.cs-chapters,
.cs-versions { display: none; position: absolute; left: 50%; height: 48%; transform: translate(-50%); background-color: #f1f1f1; color: black; box-shadow: 0px 8px 16px 0px var(--shadowColor); border-bottom-left-radius: 8px; border-bottom-right-radius: 8px; z-index: 1; max-width: 100%; }
.cs-booksW { width: max-content; }
.cs-booksW1 { width: var(--bookWidth); }

.cs-verses,
.cs-chapters { height: max-content; max-height: 90%; width: max-content; overflow: hidden; overflow-y: scroll; }

.cs-book,
.cs-version { padding: .3em; padding-left: .6em; padding-right: .6em; font-size: 1.3rem; }
.cs-book { width: 50%; }
.cs-bvSelected{ background-color: #8e8c8c; color: white; }

.cs-endBook { padding: .3em; padding-left: .6em; padding-right: .6em; width: 50%; font-size: 1.3rem; }
.cs-bookRight { border-right: 1px solid black; }
.cs-bookLine { position: relative; display: flex; }
.cs-verseLine,
.cs-chapterLine { position: relative; display: flex; gap: .5em; width: max-content; margin: 0 auto; margin-top: .5em; padding-left: .5em; padding-right: .5em; }
.cs-verse,
.cs-chapter { display: flex; align-items: center; justify-content: center; font-size: 1.3em; height: 1.8em; width: 1.8em; border: 1px solid red; border-radius: 4px; }
.cs-lastLine { position: absolute; text-align: center; left: 50%; transform: translate(-50%); padding-bottom: 1.5em; }

.cs-pageContainer { margin-top: 5em; width: 100%; z-index: 10; }

.cs-TWFcontainer { margin-top: 2.5em; background-color: #dedcdc; color: #474646; border-radius: 6px; width: 70%; height: max-content; margin:auto; padding-bottom: .5em;}
.cs-TWF { height: max-content; width: 100%; justify-content:center; align-items: center; padding-top: .5em; padding-bottom: .8em; }
.cs-TWFspan { display: flex; width: 95%; margin: auto; justify-content:center; align-items: center; }
.cs-closeTWF { margin-top: .3em; width: 1.2em; height: 1.2em; line-height: 1.2em; padding: .2em; font-size: .7rem; border: 1px solid #434242; border-radius: 50%; background-color: var(--headlineBackground); color: white; }

.cs-searchContainer,
.cs-mainPage { border-radius: 6px; width: 60%; margin: auto; background-color: var(--mainBackground); color: var(--blackText); overflow: hidden; }

.cs-searchPage,
.cs-page { text-align: justify; margin: auto; margin-top: 2.5em; width: 80%; }

.cs-singleVerse { margin-top: -.5em; }
.cs-verseNumber { color: var(--verseNumber); font-size: .9rem; font-weight: 550; }

.cs-headline,
.cs-bottomLine { height: 1.5rem; width: 100%; color: var(--whiteText); background-color: var(--headlineBackground); padding: .3em; font-size: 1.35rem; }
.cs-headline { line-height: 1.5rem; text-align: center; color: var(--headlineColor)}

.cs-bottomLine { display: flex; align-items: center; font-size: 1.2rem; user-select: none; justify-content: space-evenly; }
.cs-bottomTitleLine { width: max-content; }

.cs-bottom { bottom: 0; left: 0; height: max-content; width: 100%; padding-bottom: 2em; background: linear-gradient(180deg, var(--gradientLight) 0%, var(--gradientDark) 100%); z-index: 2; }

.cs-end { position: fixed; bottom: 0; left: 0; width: 100%; height: max-content; background-color: #f1f2f3; border-top: 3px solid #9b9a9a; color: #010914 }
.cs-endLine { position: relative; width: 60%; top: 10%; margin: auto; font-size: .9rem; text-align: justify; }
.cs-endBtn { position: relative; display: block; background-color: #9b9a9a; color: white; width: 5em; height: 2em; border: none; cursor: pointer; margin: auto; font-weight: 550; }
.cs-endBtnLine { display: flex; justify-content: space-evenly; top: 10%; width: 50%; margin: auto; }

.cs-settings { display: flex; justify-content: space-evenly; bottom: 0; left: 0; height: max-content; width: 100%; padding-bottom: 2em; padding-left: .8em; background-color: var(--bannerBackground); }
.cs-glossary { position: relative; margin-top: 1.2em; margin-bottom: 1.2em; color: var(--whiteText); width: 99%; }
.cs-chat { display: flex; text-decoration: none; height: 2em; width: 20em; background-color: #ba0e0e; color: white; border-radius: 6px; margin: auto; justify-content:center; align-items: center; }

.cs-darkTheme { background-color: #3d3636; color: white; }
.cs-theme { cursor: pointer; border: none; padding-bottom: .3em; border-radius: 3px; }
.cs-themeNote { position: absolute; padding-left: 1em; vertical-align: middle; text-decoration: underline; font-size: .9rem; }

.cs-font,
.cs-redLetter,
.cs-resetData,
.cs-resetDefaults,
.cs-paragraphLayout { width: max-content; margin-top: 1em; background-color: var(--bannerBackground); color: var(--whiteText); user-select: none; }

.cs-adjustFont,
.cs-redLetter,
.cs-resetData,
.cs-resetDefaults,
.cs-paragraphLayout { padding-left: 1.5em; padding-right: 1.5em; text-decoration: underline; font-size: .9rem; }
.cs-adjustFont1 { display: inline-block; height: 1.2rem; width: 1.2rem; border-radius: 50%; background-color: var(--whiteText); color: var(--bannerBackground); text-align: center; line-height: 1.2em; font-size: 1.1em; vertical-align: middle; font-weight: 550; }

.cs-glossaryLink { font-size: .9rem; color: var(--whiteText); text-decoration: none; }
.cs-glossaryHeaders { user-select: none; color: var(--lightGreenEmphasis); }

.cs-GodLovesYou { width: 80%; margin-left: auto; margin-right: auto; bottom: 0; font-size: .8rem; color: var(--whiteText); text-align: center; }
.cs-GodLovesYouPages { color: var(--blackText); }

.cs-copyright,
.cs-copyright:visited { color: var(--whiteText); }
.cs-copyright:hover { color: var(--paleMaroonEmphasis); }
.cs-copySign { font-size: .75em; }
.cs-hrCopyright { width: 98%; margin: auto; }

.cs-loader { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); border: 8px solid var(--mediumGray); border-top: 8px solid var(--bannerBackground); border-radius: 50%; width: 2em; height: 2em; animation: spin 2s linear infinite; }
@keyframes spin { 0% { transform: rotate(0deg); } 100% { transform: rotate(360deg); } }

.cs-emphasis { color: var(--lighterMaroonEmphasis); }

.cs-searchContainer { display: none; margin-top: 5.5em;  height: max-content; min-height: 100%; }
.cs-searchTitle { width: 90%; margin: auto; text-align: center; }
.cs-searchCase { width: 90%; margin: auto; text-align: center; font-size: .9em; }
.cs-searchBox { height: 2.5em; width: 74%; background-color: var(--mediumGray); color: black; border-radius: 6px; border: 1px solid red; margin: auto; line-height: 2.5em; padding-left: 1em; padding-right: 3em; font-size: 1.3rem; z-index: 12; white-space: nowrap; overflow-x: scroll; overflow-y: hidden; }

.cs-searchResult { margin-top: 5%; }
.cs-searchChapter { font-size: 1.2rem; text-decoration: underline; color: var(--navyEmphasis); }
.cs-searchVerse { margin-top: -.1em; }

.cs-searchBtn { color: white; background-color: red; padding: .6em; border-radius: 6px; width: 10%; margin: auto; margin-top: .6em; font-size: 1.1em; z-index: 12; text-align: center; border: 2px solid black; }

.cs-searchResults { font-size: 1.2rem; text-decoration: underline; color: var(--lightMaroonEmphasis); }

.cs-randomChapter { display: none; width: max-content; margin: auto; font-size: 1.2em; background-color: #ba0e0e; color: white; border-radius: 6px; padding: 1.1em; }

/* Media Queries */
@media (max-width: 1920px) {
    .cs-mainPage { width: 60%; }
    .cs-page { width: 90%; }
    .cs-searchPage { width: 95%; }
    .cs-searchContainer { width: 100%; }
    .cs-searchBtn { width: 20%; }
    .cs-TWFcontainer { width: 60%; }
}
@media (max-width: 1440px) {
    .cs-mainPage { width: 70%; border-radius: 6px; }
    .cs-page { width: 90%; }
    .cs-searchPage { width: 95%; }
    .cs-searchContainer { width: 100%; }
    .cs-searchBtn { width: 20%; }
}
@media (max-width: 1280px) {
    .cs-mainPage { width: 70%; }
    .cs-page { width: 90%; }
    .cs-searchPage { width: 95%; }
    .cs-searchContainer { width: 80%; }
    .cs-searchBtn { width: 20%; }
    .cs-TWFcontainer { width: 70%; }
}
@media (max-width: 1025px) {
    .cs-mainPage { width: 100%; border-radius: 0; }
    .cs-page { width: 90%; }
    .cs-searchPage { width: 95%; }
    .cs-searchContainer { width: 100%; }
    .cs-searchBtn { width: 20%; }
    .cs-TWFcontainer { width: 95%; }
}

@media (max-width: 768px) {
    .cs-menu1 { position: absolute; left: 20%; transform: translate(-25%); }
    .cs-menuBtn { font-size: 1rem; }
    .cs-books,
    .cs-versions { width: 330px; }
    .cs-book,
    .cs-headline,
    .cs-bottomLine { font-size: 1.1rem; }
}

@media (max-width: 480px) {
    .cs-menu1 { position: absolute; left: 20%; transform: translate(-25%); }
    .cs-books,
    .cs-versions { width: 80%; }
    .cs-page { width: 90%; }
    .cs-searchPage { width: 95%; }
    .cs-searchContainer { width: 100%; }
    .cs-searchBtn { width: 20%; }
}

@media (max-width: 348px) {
    .cs-verse,
    .cs-chapter { font-size: 1.2em; height: 1.6em; width: 1.6em; }
    .cs-books,
    .cs-versions { width: 100%; }
    .cs-menuBtn { font-size: .80rem; }
    .cs-book,
    .cs-version { font-size: 1.1rem; }
}


/*? max Height */
@media (max-height: 1368px) {
    .cs-header1 { height: 7%; }
    .cs-mainPage { margin-top: .5em; }
    .cs-TWFcontainer { margin-top: 6.5em; }
}
@media (max-height: 1280px) {
    .cs-header1 { height: 8%; }
}
@media (max-height: 1080px) {
    .cs-page { margin-top: 2.5em; }
    .cs-searchContainer { margin-top: 5.5em; }
    .cs-books,
    .cs-versions { height: 49%; }
}
@media (max-height: 1024px) {
    .cs-header1 { height: 11%; }
    .cs-books,
    .cs-versions { height: 48%; }
}
@media (max-height: 932px) {
    .cs-books,
    .cs-versions { height: 54%; }
}
@media (max-height: 741px) {
    .cs-page { margin-top: 2em; }
    .cs-searchContainer { margin-top: 5em; }
    .cs-books,
    .cs-versions { height: 70%; }
     .cs-TWFcontainer { margin-top: 5.5em; }
}
@media (max-height: 668px) {
    .cs-header1 { height: 12%; }
    .cs-page { margin-top: 2em; }
    .cs-searchContainer { margin-top: 5.9em; }
    .cs-books,
    .cs-versions { max-height: 67%; }
}
@media (max-height: 600px) { .cs-verses { max-height: 84%; } }
@media (max-height: 568px) {
    .cs-header1 { height: 13%; }
    .cs-searchContainer { margin-top: 4.9em; }
    .cs-books,
    .cs-versions { height: 73%; }
}
@media (max-height: 480px) {
    .cs-books,
    .cs-versions { height: 83%; }
}
